.hero {
  background: linear-gradient(to right, #9fdfdf, #d29eff);
  color: white;
  padding: 100px 50px;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 32px;
  font-weight: lighter;
  font-family: sans-serif;
}

.hero-content span {
  font-size: 42px;
  font-family: sans-serif;
  font-weight: bold;
}

.desc {
  width: 370px;
  color: rgba(0, 0, 0, 0.503);
  font-weight: bold;
  font-family: sans-serif;
  line-height: 24px;
}

.shop-now-btn {
  padding: 10px 32px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.abt-p {
  /* padding: 10px 25px; */
  color: #504e4e;
  border: none;
  font-size: small;
  cursor: pointer;
  display: inline;
}

.hero-product {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
  width: 350px;
  height: 350px;
  padding: 20px;
  border-radius: 12px;
  /* margin-top: 10px; */
  z-index: 2;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.1);
}

.hero-product img {
  width: 200px;
  padding: 24px;
  margin-top: 22px;
}

.new-lot-badge {
  color: black;
  position: absolute;
  left: 0px;
  background-color: coral;
  padding: 4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.curve {
  position: absolute;
  top: 300px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 1; /* Ensure curve is behind the content */
}

.fcon {
  display: flex;
  justify-content: space-between;
}
